---
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Palm-springs">
	<Hero
		heading="Palm Springs"
		image="/imgs/retreats/img4.jpg"
		pcTextPosition={["60%", "10%"]}
		mobileImage="center"
		textPosition={["10%", "5%"]}
	/>

	<main>
		<!-- Journey -->
		<article>
			<h2>Your Journey Begins Here</h2>
			<p>
				You are cordially invited to an intimate, life-changing retreat
				designed for the woman ready to step into her most powerful
				self.
			</p>
			<p>
				Over a long weekend of luxurious self-discovery, self-care, and
				self-love, you’ll explore the profound connection between mind
				and body. Through transformational breathwork and yoga
				practices, you’ll experience the impact of intentional movement
				and conscious breathing, guided by science and grounded in soul.
			</p>
			<p>
				Deepen your journey in expert-led workshops on unlocking your
				authentic self, mastering manifestation, and nurturing your
				nervous system. Embrace the magic of community in curated
				women’s circles, where vulnerability meets empowerment and
				lifelong connections are born.
			</p>
			<p>
				This is more than a retreat—it’s your opportunity to realign,
				renew, and reclaim your life. Space is limited to ensure a
				deeply personal and transformative experience.
			</p>
		</article>

		<img src="" alt="" />
		<!-- For Woman -->
		<article>
			<h2>For the woman who...</h2>
			<p>
				Is juggling it all: entrepreneurs seeking clarity, moms feeling
				the weight of burnout, and professionals navigating a sense of
				“stuck.” This is for those ready to step out of anxiety and
				depression and into alignment, release emotional baggage, heal
				from the past, and reconnect with their truest selves.
			</p>

			<p>
				Join a circle of like-minded women ready to unplug from the
				chaos, process what’s holding them back, and level up their
				lives. Through the integration of spirituality, science, and
				somatic practices, we’ll explore the energetics of abundance,
				create healthy boundaries, and nurture nervous system healing.
			</p>

			<p>
				This is your invitation to redefine your next chapter in a
				luxurious space for unplugging, transformation, community, and
				renewal.
			</p>
		</article>
		<!-- Included -->
		<section id="included">
			<h2>A retreat beyond expectations</h2>
			<h3>What is included:</h3>
			<ul>
				<li>
					<p>
						<b>Seamless travel:</b> Complimentary pickup and drop-off
						from Palm Springs Airport for a stress-free arrival and departure.
					</p>
				</li>
				<li>
					<p>
						<b>Daily practices:</b> Begin and end each day with transformative
						yoga, breathwork, and meditation sessions that nurture mind,
						body, and spirit.
					</p>
				</li>
				<li>
					<p>
						<b>Transformational workshops:</b> Expert-led sessions on
						topics like nervous system healing, manifestation, and living
						authentically.
					</p>
				</li>
				<li>
					<p>
						<b>Gourmet cuisine:</b> All meals lovingly prepared by a
						private chef, featuring breakfast, lunch, dinner, charcuterie
						boards, and desserts. Nourishment designed to delight and
						sustain you.
					</p>
				</li>
				<li>
					<p>
						<b>Exclusive retreat workbook:</b> A beautifully crafted
						guide to help you reflect, integrate, and take the retreat's
						lessons into your daily life.
					</p>
				</li>
				<li>
					<p>
						<b>Luxury accommodations: </b>Stay in a serene and
						stylish Luxury accommodations: laxation, and
						inspiration.
					</p>
				</li>
				<li>
					<p>
						<b>Community connection:</b> Intimate women’s circles to
						foster connection, vulnerability, and empowerment.
					</p>
				</li>
				<li>
					<p>
						<b>Unplug and recharge:</b> Time to rest, reflect, and reconnect
						with yourself in the tranquil desert surroundings.
					</p>
				</li>
				<li>
					<p>
						<b>Six monthly virtual breathwork sessions:</b> For preparation
						before the retreat and integration after.
					</p>
				</li>
				<h3>What is not included:</h3>
				<li><p>Flights to and from Palm Springs</p></li>
			</ul>
		</section>
		<section id="week">
			<h2>A weekend dedicated to your deep inner transformation</h2>

			<article>
				<h3>Thursday</h3>
				<ul>
					<li><p>Check in at 6 pm</p></li>
					<li><p>Welcome dinner</p></li>
					<li>
						<p>
							Opening ceremony: Women’s circle & intention setting
						</p>
					</li>
					<li><p>Guided meditation & grounding breathwork</p></li>
				</ul>
			</article>
			<article>
				<h3>Friday</h3>
				<ul>
					<li><p>Optional morning hike</p></li>
					<li><p>Breakfast</p></li>
					<li><p>Vinyasa yoga</p></li>
					<li><p>Inner child workshop</p></li>
					<li><p>Lunch</p></li>
					<li><p>Somatic breathwork</p></li>
					<li><p>Self-limiting beliefs workshop</p></li>
					<li><p>Dinner</p></li>
					<li><p>Liberate ceremony</p></li>
				</ul>
			</article>
			<article>
				<h3>Saturday</h3>
				<ul>
					<li><p>Optional morning hike (silent)</p></li>
					<li><p>Breakfast</p></li>
					<li><p>Restorative yoga</p></li>
					<li><p>Emotional processing workshop</p></li>
					<li><p>Lunch</p></li>
					<li><p>Energetics of abundance workshop</p></li>
					<li><p>Highest self breathwork</p></li>
					<li><p>Dinner</p></li>
					<li><p>Sound healing experience</p></li>
				</ul>
			</article>
			<article>
				<h3>Sunday</h3>
				<ul>
					<li><p>Breakfast</p></li>
					<li><p>Slow flow yoga & meditation</p></li>
					<li><p>Closing ceremony: Women’s circle</p></li>
					<li><p>Check out at 10 am</p></li>
					<li><p>Step into your most empowered self</p></li>
				</ul>
			</article>
		</section>
	</main>
</Layout>

<style>
	main {
		margin: var(--section-gap) auto;
		padding: 0 2rem;
		max-width: 1200px;
	}

	article > p {
		margin-bottom: var(--element-gap);
	}

	main > article {
		margin-bottom: var(--section-gap);
	}

	h2 {
		margin-bottom: var(--element-gap);
	}
	h3 {
		margin-bottom: var(--small-gap);
	}

	li {
		margin-bottom: var(--small-gap);
	}

	#week {
		display: grid;
		grid-template-areas:
			"title title title title"
			"thu fri sat sun";

		grid-template-columns: repeat(4, 1fr);
		grid-gap: var(--small-gap);

		@media (width <= 640px) {
			grid-template-areas: "title" "thu" "fri" "sat" "sun";
			grid-template-columns: 1fr;
		}
	}

	#week h2 {
		grid-area: title;
	}
</style>
