---
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Palm-springs">
	<Hero heading="Palm Springs" image="/imgs/retreats/img4.jpg" />

	<main></main>
</Layout>

<style>
	main {
		margin: var(--section-gap) auto;
		padding: 0 2rem;
		max-width: 1200px;
	}
</style>
