/* RoslindaleDisplayCondensedExtraLight.woff2 */
@font-face {
	font-family: 'Roslindale';
	font-weight: normal;
	src: local('Roslindale Display Condensed Extra Light'), url('/fonts/RoslindaleDisplayCondensed-ExtraLight.woff2') format('woff2');
}


:root {
	/* Colors */
	--bg-color: #FAFFFF;
	--fg-color: #708B5E;
	--fg-light-color: #D4DCCE;
	--accent-color: #FFDFB9;
	--text-color: #928581;


	/* Spacing */
	--section-gap: 130px;
	--horizontal-gap: 100px;
	--element-gap: 50px;
	--small-gap: 24px;

	/* Fonts */
	--roslindale: 'Roslindale', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--gt-walsheim: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


	/* Root font size */
	--font-size: 16px;

	/* Font sizes */
	/* 150px */
	--heading: 8vw;
	--subheading: 5.625rem;
	--heading-paragraph: 2rem;
	--paragraph: 1.25rem;


	/* Border radius */
	--border-radius: 30px;
}


@media screen and (width <=800px) {
	:root {
		--heading: 4rem;
		--subheading: 2rem;
		--heading-paragraph: 1.5rem;
		--paragraph: 1rem;

		--section-gap: 90px;
		--element-gap: 30px;
		--horizontal-gap: 50px;
	}
}

body {
	font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 300;
	background-color: var(--bg-color);
}



h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roslindale', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: var(--fg-color);
	font-weight: normal;
}

h1 {
	font-size: var(--heading);
	color: var(--bg-color);
}

h2 {
	font-size: var(--subheading);
}

h3 {
	font-size: var(--heading-paragraph);
}

p {
	font-family: 'GT Walsheim', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 300;
	color: var(--text-color);
	font-size: var(--paragraph);
}

button,
a.btn {
	font-family: 'GT Walsheim', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 500;
	color: var(--fg-color);
	border: 1px solid var(--fg-color);
	background-color: var(--bg-color);
	border-radius: 8px;
	padding: 10px 20px;
	font-size: var(--paragraph);
	cursor: pointer;
	text-transform: capitalize;
	transition: all 0.3s;
	min-height: 60px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

button:hover,
a.btn:hover {
	background-color: var(--fg-color);
	color: var(--bg-color);
}

button:active,
a.btn:active {
	background-color: var(--fg-color);
	color: var(--accent-color);

}

a:hover {
	color: var(--accent-color);
}

input,
textarea {
	width: 100%;
	padding: 20px;
	min-height: 60px;
	border-radius: 8px;
	border: 2px solid var(--fg-light-color);
	background-color: var(--bg-color);
	opacity: 0.5;
	margin-top: 30px;
	font-size: var(--paragraph);
	font-family: var(--gt-walsheim);
	color: var(--text-color);

	&:focus {
		outline: none;
		border-color: var(--fg-color);
		opacity: 1;
	}
}

label {
	color: var(--text-color);
	font-family: var(--roslindale);
	font-size: var(--heading-paragraph);
}