/* Roslindale-DisplayCondensedExtraLight.woff */
@font-face {
	font-family: 'Roslindale';
	font-weight: normal;
	src: local('Roslindale Display Condensed Extra Light'), url('/fonts/Roslindale-DisplayCondensedExtraLight.woff') format('woff');
}

/* GT-Walsheim-Medium.otf */
@font-face {
	font-family: 'GT Walsheim';
	font-weight: normal;
	src: local('GT Walsheim Medium'), url('/fonts/GT-Walsheim-Medium.otf') format('opentype');
}

/* GT-Walsheim-Light.otf */
@font-face {
	font-family: 'GT Walsheim';
	font-weight: lighter;
	src: local('GT Walsheim Light'), url('/fonts/GT-Walsheim-Light.otf') format('opentype');
}

:root {
	--bg-color: #FAFFFF;
	--fg-color: #708B5E;
	--fg-light-color: #A3B18A;
	--accent-color: #FFDFB9;
	--text-color: #928581;
	--border-radius: 30px;

	--roslindale: 'Roslindale', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	font-family: 'GT Walsheim', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: lighter;
	background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roslindale', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: var(--fg-color);
	font-weight: normal;
}

p {
	font-family: 'GT Walsheim', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: lighter;
	color: var(--text-color);

}

button,
a.btn {
	font-family: 'GT Walsheim', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: var(--fg-color);
	border: 1px solid var(--fg-color);
	background-color: var(--bg-color);
	border-radius: 8px;
	padding: 0.5rem;
	cursor: pointer;
	text-transform: capitalize;
	transition: all 0.3s;
	font-size: large;
}

button:hover,
a.btn:hover {
	background-color: var(--fg-color);
	color: var(--bg-color);
}

button:active,
a.btn:active {
	background-color: var(--fg-color);
	color: var(--accent-color);

}

a:hover {
	color: var(--accent-color);
}