---
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import { pages } from "@content";
const { contentTitle, footer, paragraphs, title } = pages.about;
---

<Layout title="Meet McKenzie">
	<Hero
		heading={title}
		image="/imgs/about/For_About.webp"
		position="top center"
	/>
	<main>
		<section class="slide">
			<h2>
				{contentTitle}
			</h2>
		</section>

		{
			paragraphs.map((paragraph) => (
				<article class="slide">
					<div />
					<section>
						<p>{paragraph}</p>
					</section>
				</article>
			))
		}

		<section class="slide">
			<h3>
				{footer}
			</h3>
		</section>
	</main>
</Layout>

<style>
	main {
		margin: var(--section-gap) auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: var(--section-gap);
		max-width: 1200px;
		padding: 0 2rem;
	}

	main > section {
		text-align: center;
	}

	main > article {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: var(--section-gap);

		& > * {
			flex: 1;
		}

		&:nth-child(even) {
			flex-direction: row-reverse;
		}

		div {
			flex: 1;
			@media (max-width: 800px) {
				display: none;
			}
		}

		& > section {
			flex: 1 0 300px;
			display: flex;
			flex-direction: column;
			gap: var(--element-gap);
		}
	}
</style>
