---
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Meet McKenzie">
	<Hero
		heading="Meet McKenzie"
		image="/imgs/about/early-7.webp"
		position="top center"
	/>
	<main>
		<section class="slide">
			<h2>
				McKenzie is a San Francisco-based hair artist & breathwork facilitator
			</h2>
		</section>
		<article class="slide">
			<div></div>
			<section>
				<p>
					Behind the chair, McKenzie’s passion is all things color. With over 12
					years in the industry she has trained with Paul Mitchell, Goldwell,
					Wella and Redken color. McKenzie's blend of expertise and creativity
					ensures each client has a custom coloring experience ranging from sun
					kissed balayage, complete grey coverage, highlighting techniques, 3D
					balayage and more.
				</p>
			</section>
		</article>
		<article class="slide">
			<div></div>
			<section>
				<h3>McKenzie is a Trauma Informed Breathwork Facilitator</h3>
				<p>
					Behind the chair, McKenzie’s passion is all things color. With over 12
					years in the industry she has trained with Paul Mitchell, Goldwell,
					Wella and Redken color. McKenzie's blend of expertise and creativity
					ensures each client has a custom coloring experience ranging from sun
					kissed balayage, complete grey coverage, highlighting techniques, 3D
					balayage and more.
				</p>
			</section>
		</article>
	</main>
</Layout>

<style>
	main {
		margin: var(--section-gap) auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: var(--section-gap);
		max-width: 1200px;
		padding: 0 2rem;
	}

	main > section {
		text-align: center;
	}

	main > article {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: var(--section-gap);

		& > * {
			flex: 1;
		}

		&:nth-child(even) {
			flex-direction: row-reverse;
		}

		div {
			flex: 1;
			@media (max-width: 800px) {
				display: none;
			}
		}

		& > section {
			flex: 1 0 300px;
			display: flex;
			flex-direction: column;
			gap: var(--element-gap);
		}
	}
</style>
