---
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import { pages } from "@content";
const { contentTitle, paragraphs, title } = pages.about;
---

<Layout title="About | Well-Vie">
	<Hero
		heading={title}
		image="/imgs/about/For_About.webp"
		position="top center"
	/>
	<main>
		<section class="slide">
			<h2>
				{contentTitle}
			</h2>
		</section>

		<article>
			{paragraphs.map((paragraph) => <p class="slide">{paragraph}</p>)}
		</article>
	</main>
</Layout>

<style>
	main {
		margin: var(--section-gap) auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: var(--section-gap);
		max-width: 1200px;
		padding: 0 2rem;
	}

	main > section {
		text-align: center;
	}

	main > article {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: var(--element-gap);
	}
</style>
