---
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import { pages } from "@content";
const { contentTitle, paragraphs, title } = pages.about;
---

<Layout title="About | Well-Vie">
	<Hero
		heading={title}
		image="/imgs/about/For_About.webp"
		position="top center"
	/>
	<main>
		<section class="slide">
			<h2>
				{contentTitle}
			</h2>
		</section>

		<article>
			{paragraphs.map((paragraph) => <p class="slide">{paragraph}</p>)}
			<div class="signoff slide">
				<p>Bisous, McKenzie</p>
				<p>Founder of Well-Vie</p>
			</div>
		</article>
	</main>
</Layout>

<style>
	main {
		margin: var(--section-gap) auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: var(--section-gap);
		max-width: 1200px;
		padding: 0 2rem;
	}

	main > section {
		text-align: center;
	}

	main > article {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: var(--small-gap);
		max-width: 720px;
	}

	main > article p {
		line-height: 1.75;
	}

	.signoff {
		margin-top: var(--small-gap);
	}

	.signoff p:first-child {
		font-family: var(--roslindale);
		font-size: var(--heading-paragraph);
		color: var(--fg-color);
	}

	.signoff p:last-child {
		font-size: var(--paragraph);
	}
</style>
