---
import ContactForm from "@/components/ContactForm.svelte";
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import oneToOneIcon from "@/assets/1to1.svg";
import companyEventsIcon from "@/assets/company_events.svg";
import groupEventsIcon from "@/assets/group_events.svg";
---

<Layout title="Breathwork">
	<Hero
		heading="Breathwork"
		image="/imgs/breathwork/warm_bench-2.webp"
		position="20% top"
	/>
	<main>
		<h2 class="slide">
			Bring your nervous system, body and mind to a state of peace, calm and
			liberation
		</h2>
		<h3 class="slide">
			McKenzie is a certified Trauma-Informed Breathwork Facilitator who brings
			the benefits of guided meditation using breathing techniques into
			business, relationships & team building
		</h3>
		<section class="benefits">
			<h2 class="slide">Benefits of Breathwork:</h2>
			<article>
				<img src="/imgs/home/later-2.webp" alt="" />
				<ul>
					<li class="slide">Release of stress and anxiety</li>
					<li class="slide">Aides in better sleep</li>
					<li class="slide">Improves focus & mood</li>
					<li class="slide">Gives clarity</li>
					<li class="slide">Increases energy and boosts immunity</li>
					<li class="slide">Improves digestion & circulation</li>
					<li class="slide">Lowers blood pressure</li>
					<li class="slide">Connect to your inner self</li>
					<li class="slide">Moves through stuck energy</li>
					<li class="slide">Helps manage depression</li>
					<li class="slide">Helps heal from trauma and manage PTSD</li>
				</ul>
			</article>
		</section>

		<section class="types">
			<div>
				<article class="slide">
					<img
						src={oneToOneIcon.src}
						alt="One to One sesons"
						width="48"
						height="48"
					/>
					<h3>1.1 sesons</h3>
				</article>
				<article class="slide">
					<img
						src={groupEventsIcon.src}
						alt="Group events"
						width="48"
						height="48"
					/>
					<h3>Group events</h3>
				</article>
				<article class="slide">
					<img
						src={companyEventsIcon.src}
						alt="Corporate company events"
						width="48"
						height="48"
					/>
					<h3>Corporate company events</h3>
				</article>
			</div>
			<a class="btn slide" href="#contact">Work with me</a>
		</section>

		<!-- Form Section -->
		<div id="contact" class="slide">
			<ContactForm client:only="svelte" haveDate />
			<script src="https://smtpjs.com/v3/smtp.js"></script>
		</div>
	</main>
</Layout>

<style>
	main {
		max-width: 1200px;
		margin: 0 auto;
		margin-bottom: 2rem;
		padding: 0 2rem;
	}

	main h2 {
		text-align: center;
		margin-block: var(--section-gap);
	}

	main h3 {
		text-align: center;
	}

	main section.benefits article {
		display: flex;
		flex-wrap: wrap-reverse;
		align-items: center;
		justify-content: space-between;
		gap: var(--horizontal-gap);

		& > * {
			flex: 1 0 calc(50% - var(--horizontal-gap));
		}

		@media (max-width: 768px) {
			flex-direction: column;
			& > * {
				flex: 1 0 100%;
			}
		}
	}

	main section.benefits article img {
		border-radius: var(--border-radius);
		width: 50%;
		aspect-ratio: 1/1;
	}

	main section.benefits article ul {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		justify-content: space-between;
		font-family: var(--roslindale);
		color: var(--text-color);
		font-size: var(--heading-paragraph);
	}

	section.types {
		display: flex;
		flex-direction: column;
		gap: var(--horizontal-gap);
		margin-block: var(--section-gap);
	}

	section.types div {
		display: flex;
		align-items: baseline;
		justify-items: center;
		gap: var(--element-gap);
		flex-wrap: wrap;
		& > * {
			flex: 1;
		}

		@media (width <= 768px) {
			flex-direction: column;
			align-items: center;
		}
	}

	section.types article {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--element-gap);
		margin-bottom: var(--element-gap);
	}

	section.types article img {
		width: 100%;
		object-fit: cover;
		object-position: center;
	}

	section.types a.btn {
		align-self: center;
	}
</style>
