---
import ContactForm from "@/components/ContactForm.svelte";
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import oneToOneIcon from "@/assets/1.1.svg";
import companyEventsIcon from "@/assets/company.svg";
import groupEventsIcon from "@/assets/group_Events.svg";
---

<Layout title="Breathwork">
	<Hero
		heading="Breathwork"
		image="/imgs/breathwork/FOR_Breathwork.webp"
		position="20% top"
	/>
	<main>
		<h2 class="slide">
			Experience the Power of Breathwork: Wellness for Everyone
		</h2>
		<h3 class="slide">
			Welcome to Well-Vie, Led by McKenzie, a dedicated breathwork expert, our
			mission is to guide you on a transformative journey toward better health
			and well-being. Through personalized 1:1 sessions, couples breathwork,
			group events, and corporate workshops, the focus is on enhancing your
			nervous system's health, reducing stress, and improving overall wellness.
			Join our retreats and experience the profound impact of mindful breathing,
			integrating effective techniques with practical wellness practices to
			elevate your life.
		</h3>
		<section class="benefits">
			<h2 class="slide">Benefits of Breathwork:</h2>
			<article>
				<img src="/imgs/home/later-2.webp" alt="" />
				<ul>
					<li class="slide">Release of stress and anxiety</li>
					<li class="slide">Aides in better sleep</li>
					<li class="slide">Improves focus & mood</li>
					<li class="slide">Gives clarity</li>
					<li class="slide">Increases energy and boosts immunity</li>
					<li class="slide">Improves digestion & circulation</li>
					<li class="slide">Lowers blood pressure</li>
					<li class="slide">Connect to your inner self</li>
					<li class="slide">Moves through stuck energy</li>
					<li class="slide">Helps manage depression</li>
					<li class="slide">Helps heal from trauma and manage PTSD</li>
				</ul>
			</article>
		</section>

		<section class="experience">
			<h2 class="slide">Breathwork Experiences</h2>
			<div>
				<article class="slide">
					<h3>1:1 Session</h3>
					<ul>
						<li>60 minute guided breathwork session</li>
					</ul>
				</article>
				<article class="slide">
					<h3>Balanced Package (4 Sessions)</h3>
					<ul>
						<li>(4) 45 Minute sessions</li>
						<li>Great start for beginners new to guided breathwork</li>
					</ul>
				</article>
				<article class="slide">
					<h3>Revitalized Package</h3>
					<ul>
						<li>(4) 75 Minute sessions</li>
						<li>
							A deep dive into breathwork for those desiring a transformative
							experience
						</li>
					</ul>
				</article>
			</div>
		</section>

		<section class="types">
			<div>
				<article class="slide">
					<img
						src={oneToOneIcon.src}
						alt="One to One sesons"
						width="48"
						height="48"
					/>
					<h3>1.1 sesons</h3>
				</article>
				<article class="slide">
					<img
						src={groupEventsIcon.src}
						alt="Group events"
						width="48"
						height="48"
					/>
					<h3>Group events</h3>
				</article>
				<article class="slide">
					<img
						src={companyEventsIcon.src}
						alt="Corporate company events"
						width="48"
						height="48"
					/>
					<h3>Corporate/Company Events</h3>
				</article>
			</div>
		</section>

		<!-- Form Section -->
		<div id="contact" class="slide">
			<h2>Work With Me</h2>
			<ContactForm client:only="svelte" haveDate />
			<script src="https://smtpjs.com/v3/smtp.js"></script>
		</div>
	</main>
</Layout>

<style>
	main {
		max-width: 1200px;
		margin: 0 auto;
		margin-bottom: 2rem;
		padding: 0 2rem;
	}

	main h2 {
		text-align: center;
		margin-block: var(--section-gap);
	}

	main h3 {
		text-align: center;
	}

	main section.benefits article {
		display: flex;
		flex-wrap: wrap-reverse;
		align-items: center;
		justify-content: space-between;
		gap: var(--horizontal-gap);

		& > * {
			flex: 1 0 calc(50% - var(--horizontal-gap));
		}

		@media (max-width: 768px) {
			flex-direction: column;
			& > * {
				flex: 1 0 100%;
			}
		}
	}

	main section.benefits article img {
		border-radius: var(--border-radius);
		width: 50%;
		aspect-ratio: 1/1;

		@media (max-width: 768px) {
			width: 100%;
		}
	}

	main section.benefits article ul {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		justify-content: space-between;
		font-family: var(--roslindale);
		color: var(--text-color);
		font-size: var(--heading-paragraph);
	}

	main section.experience div {
		display: flex;
		justify-content: space-between;
		align-items: start;
		flex-wrap: wrap;
		gap: var(--horizontal-gap);

		> * {
			flex: 1 0 calc(33% - var(--horizontal-gap));

			@media (max-width: 768px) {
				flex: 1 0 100%;
			}
		}
	}

	main section.experience article {
		display: flex;
		flex-direction: column;
		gap: var(--element-gap);
	}

	main section.experience article h3 {
		text-align: start;

		@media screen and (max-width: 768px) {
			text-align: center;
		}
	}

	main section.experience article ul {
		display: flex;
		flex-direction: column;
		list-style: disc;
		gap: 2rem;
		justify-content: space-between;
		color: var(--text-color);
		font-family: var(--gt-walsheim);
		font-size: var(--paragraph);
	}

	section.types {
		display: flex;
		flex-direction: column;
		gap: var(--horizontal-gap);
		margin-block: var(--section-gap);
	}

	section.types div {
		display: flex;
		align-items: baseline;
		justify-items: center;
		gap: var(--horizontal-gap);
		flex-wrap: wrap;

		& > * {
			flex: 1;
		}

		@media (width <= 768px) {
			flex-direction: column;
			align-items: center;
		}
	}

	section.types article {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--element-gap);
		margin-bottom: var(--element-gap);
	}

	section.types article img {
		width: 200px;
		object-fit: cover;
		object-position: center;

		@media (max-width: 768px) {
			width: 150px;
		}
	}

	section.types a.btn {
		align-self: center;
	}
</style>
