---
import Layout from "@/layouts/Layout.astro";
import ContactForm from "@/components/ContactForm.svelte";
import Hero from "@/components/Hero.astro";
import { pages } from "@content";
const { address, getInTouch, title } = pages.contact;
---

<Layout title="About">
	<Hero
		heading={title}
		image="/imgs/contact/for_contact_2.jpg"
		position="center"
	/>
	<main>
		<section>
			<h3 class="slide" set:html={getInTouch} />
			<h3 class="slide" set:html={address} />
		</section>
		<article>
			<h2 class="slide">Questions? Send a message</h2>
			<ContactForm client:only="svelte" />
		</article>
	</main>
</Layout>

<style>
	main {
		margin: 0 auto;
		max-width: 1200px;
	}

	section {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		text-align: center;
		gap: var(--horizontal-gap);
		margin-block: var(--section-gap);

		& > * {
			flex: 0 0 200px;
		}
	}

	h2 {
		text-align: center;
		margin-bottom: var(--section-gap);
	}
</style>
