---
import Layout from "@/layouts/Layout.astro";
import ContactForm from "@/components/ContactForm.svelte";
import Hero from "@/components/Hero.astro";
---

<Layout title="About">
	<Hero
		heading="Contact & Location"
		image="/imgs/contact/for_contact.webp"
		position="center"
		mobileImage="90% center"
	/>
	<main>
		<section>
			<h3 class="slide">
				Getting in touch is easy, message <a href="tel:3162589949"
					>316.258.9949</a
				> or email
				<a href="mailto:itsmckenziechun@gmail.com">itsmckenziechun@gmail.com</a>
			</h3>
			<h3 class="slide">Paris <br /> X <br />San Francisco</h3>
		</section>
		<article>
			<h2 class="slide">Questions? Send a message</h2>
			<ContactForm client:only="svelte" />
			<script src="https://smtpjs.com/v3/smtp.js"></script>
		</article>
	</main>
</Layout>

<style>
	main {
		margin: 0 auto;
		max-width: 1200px;
	}

	section {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		text-align: center;
		gap: var(--horizontal-gap);
		margin-block: var(--section-gap);

		& > * {
			flex: 0 0 200px;
		}
	}

	h2 {
		text-align: center;
		margin-bottom: var(--section-gap);
	}
</style>
