---
import { pages } from "@content";
import Layout from "@/layouts/Layout.astro";

const { faqs, policies } = pages.retreats;
---

<Layout title="FAQs & Policies | Well-Vie">
	<main>
		<h2>FAQs & Policies</h2>

		<section class="faq">
			<!-- FAQ -->
			<article class="policy">
				<h3>FAQs</h3>
				{
					faqs.map((faq) => (
					<article>
						<h4>{faq.question}</h4>
						<p set:html={faq.answer} />
					</article>
				))
			}
		</article>
		
		<!-- Purchasing Policies -->
		<article class="policy">
			<h2>Purchasing Policies</h2>
			
			{
				policies.map((policy) => (
					<>
						<h4>{policy.title}</h4>
						<p>{policy.content}</p>
					</>
				))
			}
		</article>
	</section>
</main>
</Layout>

<style>



	main {
		margin: var(--section-gap) auto;
			padding: 0 2rem;
			max-width: 1200px;
	}

	section.faq {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			gap: var(--horizontal-gap);
			margin-top: var(--section-gap);
			margin-bottom: var(--element-gap);
		}

		section.faq article.policy h3 {
			margin-bottom: 1rem;
		}

		section.faq article.policy p {
			font-size: 1rem;
			margin-bottom: 1.5rem;
		}
		section.faq article.policy h4 {
			font-family: inherit;
			font-size: 1.2rem;G
		}

		section.faq details a {
			word-break: break-all;
		}
</style>