---
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Well-Vie">
	<!-- Hero -->
	<Hero
		heading="Live Life Well"
		image="/imgs/home/home_header.jpg"
		scroll={true}
		textPosition={["50%", "65%"]}
	/>
	<!-- Content -->
	<main>
		<section class="slide">
			<h2>
				Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris
				sit amet orci. Aenean dignissim pellentesque felis. Morbi in sem quis
				dui placerat ornare. Pellentesque odio nisi euismod in pharetra a
				ultricies in diam. Sed arcu. Cras consequat. Praesent dapibus neque id
				cursus faucibus tortor neque egestas auguae eu vulputate magna eros eu
				erat. Aliquam erat volutpat. Nam dui mi tincidunt quis accumsan
				porttitor facilisis luctus metus.
			</h2>
		</section>
		<article class="slide">
			<img src="/imgs/home/later-2.jpg" alt="Well View" />
			<section>
				<h2>Breathwork</h2>
				<p>
					Experience the transformative embrace of the Liberate & Embody
					Retreat—an extraordinary journey. Imagine it as your personal quantum
					leap into swift well-being transformation—an exhilarating jump
					unlocking profound shifts in life. Anticipate swift progress, positive
					changes, and a deep understanding of your true self.
				</p>
				<a class="btn" href="/breathwork">know more</a>
			</section>
		</article>
		<article class="slide">
			<img
				src="/imgs/home/midday-6.jpg"
				alt="Well View"
				style="
				object-position: 0;
				"
			/>
			<section>
				<h2>Retreats</h2>
				<p>
					Experience the transformative embrace of the Liberate & Embody
					Retreat—an extraordinary journey. Imagine it as your personal quantum
					leap into swift well-being transformation—an exhilarating jump
					unlocking profound shifts in life. Anticipate swift progress, positive
					changes, and a deep understanding of your true self.
				</p>
				<a class="btn" href="/retreats">know more</a>
			</section>
		</article>
	</main>
</Layout>

<style>
	main {
		margin: 0 10%;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		gap: 2rem;

		margin-top: 2rem;

		max-width: 1200px;
		font-size: 1.2rem;
	}

	main > section {
		max-width: 800px;

		& h2 {
			font-size: 1.5rem;
			margin-bottom: 1rem;
		}

		& p {
			font-size: 1rem;
			margin-bottom: 1rem;
		}
	}

	main > article {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 4rem;
		margin-bottom: 4rem;

		&:nth-child(odd) {
			flex-direction: row-reverse;
		}

		& > section {
			flex: 1 0 300px;
		}

		& > img {
			aspect-ratio: 1/1;
			width: 300px;
			object-fit: cover;
		}

		& h2 {
			font-size: 4rem;
			margin-bottom: 1rem;
		}

		& p {
			font-size: 1.5rem;
			margin-bottom: 1rem;
		}
	}

	img {
		border-radius: var(--border-radius);
		object-fit: cover;
	}
</style>
