---
import InstagramIcon from "@/assets/instagram.svg?raw";
import wIcon from "@/assets/W_symbol.svg?raw";
---

<footer>
	<div class="wrapper">
		<a href="/">
			<Fragment set:html={wIcon} />
		</a>
		<section>
			<header>
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/retreats">Retreats</a></li>
						<li><a href="/breathwork">Breathwork</a></li>
						<li>
							<a
								href="https://calendly.com/itsmckenziechun/60min?month=2024-06"
								target="_blank">Book Now</a
							>
						</li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</nav>
			</header>
			<ul>
				<li>
					<a
						href="https://www.instagram.com/well.vie/"
						set:html={InstagramIcon}
					/>
				</li>
			</ul>
			<footer>
				<p>© Well-Vie. All Rights Reserved 2024. Licensing</p>
			</footer>
		</section>
	</div>
</footer>

<style>
	footer:not(section footer) {
		border-radius: var(--border-radius) var(--border-radius) 0 0;
		background-color: var(--fg-color);
		color: var(--bg-color);
	}

	.wrapper {
		margin: 0 auto;
		width: 100%;
		height: 100%;
		margin-top: var(--section-gap);
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		justify-content: space-between;
		align-items: center;
		padding: 40px 2rem;
		max-width: 1200px;
	}

	section {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		gap: 2rem;

		@media (width < 768px) {
			align-items: center;
			justify-content: center;
			margin: 0 auto;
		}
	}

	section header nav ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;
	}

	section ul {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		align-content: center;
		gap: 1rem;
	}

	p {
		color: currentColor;
		font-size: 1rem;

		@media (width < 768px) {
			text-align: center;
		}
	}

	.wrapper > a {
		width: 4rem;
		@media (width < 768px) {
			margin: 0 auto;
		}
	}
</style>
