---
interface Props {
	heading: string;
	image: string;
	position?: string;
	mobileImage?: string;
	textPosition?: string[];
}

const {
	heading,
	image,
	position = "center",
	textPosition = ["20%", "50%"],
	mobileImage = "center",
} = Astro.props;
---

<div class="hero">
	<h1>{heading}</h1>
</div>

<style
	define:vars={{
		textX: textPosition[0],
		textY: textPosition[1],
		bgPosition: position,
		imageURL: `url(${image})`,
		mobileImage,
	}}
>
	div.hero {
		background-color: var(--bg-color);
		background-image: var(--imageURL);
		opacity: 0.85;
		background-size: cover;
		background-position: var(--bgPosition);
		min-height: calc(100dvh - 2rem - 90px);
		border-radius: var(--border-radius);
		margin-bottom: 1rem;
		z-index: 1;

		& > h1 {
			position: absolute;
			top: 50%;
			left: 50%;
			color: var(--bg-color);
			z-index: 100;
			max-width: 700px;

			@media (width <= 768px) {
				top: var(--textY);
				left: var(--textX);
			}

			@media (width < 500px) {
				top: unset;
				bottom: 1.25rem;
				left: 1.25rem;
			}
		}

		@media (width < 768px) {
			background-position: var(--mobileImage);
		}
	}
</style>
