---
interface Props {
	heading: string;
	image: string;
	position?: string;
	mobileImage?: string;
	textPosition?: string[];
	pcTextPosition?: string[];
	textRight?: string;
	pcTextRight?: string;
	textShadow?: string;
	containedTitle?: boolean;
}

const {
	heading,
	image,
	position = "center",
	textPosition = ["20%", "50%"],
	mobileImage = "center",
	pcTextPosition = ["50%", "50%"],
	textRight = "auto",
	pcTextRight = "auto",
	textShadow = "none",
	containedTitle = false,
} = Astro.props;

const heroClass = containedTitle ? "hero contained-title" : "hero";
---

<div class={heroClass}>
	<h1 set:html={heading} />
</div>

<style
	define:vars={{
		textX: textPosition[0],
		textY: textPosition[1],
		bgPosition: position,
		imageURL: `url(${image})`,
		mobileImage,
		pcTextX: pcTextPosition[0],
		pcTextY: pcTextPosition[1],
		textRight,
		pcTextRight,
		textShadow,
	}}
>
	div.hero {
		background-color: var(--bg-color);
		background-image: var(--imageURL);
		opacity: 0.85;
		background-size: cover;
		background-position: var(--bgPosition);
		min-height: calc(100dvh - 2rem - 90px);
		border-radius: var(--border-radius);
		margin-bottom: 1rem;
		z-index: 1;

		@media (width < 768px) {
			background-position: var(--mobileImage);
		}
	}

	div.hero.contained-title {
		position: relative;
	}

	h1 {
		position: absolute;
		top: var(--pcTextY);
		left: var(--pcTextX);
		right: var(--pcTextRight);
		color: var(--bg-color);
		z-index: 100;
		max-width: 700px;
		text-shadow: var(--textShadow);

		@media (width <= 768px) {
			top: var(--textY);
			left: var(--textX);
			right: var(--textRight);
		}

		@media (width >= 900px) and (height <= 760px) {
			font-size: clamp(5.25rem, 7.2vw, var(--heading));
		}

		@media (width < 500px) {
			top: unset;
			bottom: 1.25rem;
			left: 1.25rem;
			right: auto;
		}
	}

	div.hero.contained-title h1 {
		margin: 0;
	}

	@media (width >= 900px) and (height <= 760px) {
		:global(html.is-safari) h1 {
			transform: translateY(-14%);
		}
	}

	@media (width < 500px) {
		div.hero.contained-title h1 {
			top: var(--textY);
			bottom: auto;
			left: 1rem;
			right: 1rem;
			max-width: none;
			text-align: right;
		}
	}
</style>
