---
import logotype from "@/assets/logotype.svg";
---

<nav>
	<header class="wrapper">
		<!-- Logo  -->
		<a href="/">
			<img
				src={logotype.src}
				alt="Well Vie"
				height={logotype.height}
				width={logotype.width}
			/>
		</a>
		<!-- NavMenu -->
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/breathwork">Breathwork</a></li>
			<li><a href="/retreats">Retreats</a></li>
			<li>
				<a
					href="https://calendly.com/itsmckenziechun/60min?month=2024-06"
					target="_blank">Book Now</a
				>
			</li>
			<li><a href="/contact">Contact</a></li>
		</ul>
		<!-- Mobile Menu -->
		<div>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="32"
				height="32"
				viewBox="0 0 24 24"
				stroke-width="1.5"
				stroke="currentColor"
				fill="none"
				stroke-linecap="round"
				stroke-linejoin="round"
			>
				<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
				<line x1="4" y1="6" x2="20" y2="6"></line>
				<line x1="4" y1="12" x2="20" y2="12"></line>
				<line x1="4" y1="18" x2="20" y2="18"></line>
			</svg>
		</div>
	</header>

	<script>
		// Handle Mobile Menu
		const mobileMenu = document.querySelector("header > div") as HTMLDivElement;
		const navMenu = document.querySelector("header > ul") as HTMLUListElement;
		const nav = document.querySelector("header") as HTMLElement;
		let isOpen = false;

		mobileMenu.addEventListener("click", () => {
			isOpen = !isOpen;
			if (isOpen) {
				// Set a attribute to the navMenu
				navMenu.setAttribute("data-open", "true");
			} else {
				navMenu.removeAttribute("data-open");
			}
		});

		// Close the menu when the user clicks outside
		document.addEventListener("click", (e) => {
			if (isOpen && !nav.contains(e.target as Node)) {
				isOpen = false;
				navMenu.removeAttribute("data-open");
			}
		});
	</script>
</nav>

<style>
	nav {
		margin-bottom: 1rem;
		font-family: "Roslindale";
		font-size: var(--heading-paragraph);
		background-color: var(--fg-color);
		border-radius: 0 0 var(--border-radius) var(--border-radius);
		color: var(--bg-color);
		height: 90px;
	}

	img {
		width: 200px;
		margin-top: calc(-1.5rem + 4px);
	}

	header {
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		max-width: 1200px;
		padding: 0 var(--element-gap);
	}

	nav:has(ul[data-open]) {
		border-radius: 0;
	}

	header > ul {
		display: flex;
		gap: 3rem;
	}

	header > div {
		display: none;
	}

	@media (width < 1000px) {
		header > div {
			display: block;
		}

		header > div > svg {
			aspect-ratio: 1/1;
			height: 2rem;
			cursor: pointer;
		}

		header > ul {
			display: none;
		}

		header > ul[data-open] {
			display: block;
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			z-index: 100;
			background-color: var(--fg-color);
			border-radius: 0 0 var(--border-radius) var(--border-radius);
			padding: 1rem 2rem;
		}

		header > ul[data-open] > li > a {
			display: block;
			padding: 0.5rem 0;
		}
	}
</style>
