---
interface Props {
	text: string;
	name: string;
}

const { text, name } = Astro.props;
---

<section>
	<p>{text}</p>
	<b>{name}</b>
</section>

<style>
	section {
		margin-block: var(--section-gap);
		background-color: var(--fg-color);
		padding: 2rem;
		border-radius: var(--border-radius);
		text-align: center;
	}

	p {
		color: var(--accent-color);
		text-align: center;
	}

	b {
		display: block;
		margin-top: 1rem;
		color: var(--bg-color);
		text-align: center;
	}
</style>
